
@{
    ViewBag.Title = "Agreement";
}

@using (Html.BeginForm("AgreementSubmit","ServiceAgreement"))
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div style="background-color:#015FB9;margin:10px 0px 0px 0px;padding:20px 10px 20px 10px;color:white;font-weight:bold">
            <h2>Section Three / Service Level Agreement</h2>
        </div>

        <div class="form-group">
            <div class="col-md-4" style="padding:0px 0px 0px 20px;margin:0px 0px 0px 0px">
                @{
                    if (Session["UserName"] != null)
                    {
                        <h4> Welcome : @Session["UserName"] </h4>
                    }

                }
            </div>

            <div class="col-md-offset-7 col-md-1 pull-right" style="padding:7px 5px 0px 0px;">

                @Html.ActionLink("Logout", "LogOut", "Login")

            </div>

        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group ">
            <div class="col-md-12">
                <p>Due to time constraints or prior commitments, my request may be not accepted</p>
            </div>
        </div>

        <div class="form-group ">
            <div class="col-md-12">
                <p>I assure that we have all of the listed services, machines and offers in IMC</p>
            </div>
        </div>

        <div class="form-group ">
            <div class="col-md-12">
                <p>Marketing department may take up to three business days to reply to any request</p>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-12">
                <p>Marketing team may ask for a meeting before approving my request.</p>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-12">
                <p>My request might be rejected if I did not submit the ﬁnal content and all of the requested documents </p>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-12">
                <p>In order to have my request accepted, the request should be submitted 12 weeks before the desired date/ launch date</p>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-12">
                <p>My department’s head has already approved each element of this request</p>
            </div>
        </div>

        <div class="form-group ">
            <div class="checkbox col-md-12">
                <div style="padding:0px 10px 0px 15px">
                    @Html.CheckBox("agreementconfirm", false, new { @class = "eventchkbox", @onclick= "Confirm(this)"})
                </div>

                <p style="font-weight:bold;padding:0px 10px 0px 10px">I	have	read	all	of	terms	and	conditions	above	and	I	agree	on	them</p>
            </div>
        </div>

        <div class="form-group ">
            <div class="pull-right">
                <div class="col-md-12">
                    <input type="submit" value="Submit" id="agreementsubmit" class="btn" style="background-color:#015FB9;color:white;" />

                </div>
            </div>
        </div>
    </div>

}

<script>
    (function () {
        document.getElementById("agreementsubmit").disabled = true;
    })();
    function Confirm(element) {
        element.checked ? document.getElementById("agreementsubmit").disabled = false : document.getElementById("agreementsubmit").disabled = true;
    }
</script>
